extends base

block content
    main.main
        .card-container
            each book in books
                .card
                    .card__header
                        .card__picture
                        img.card__picture-img(src='img/bookReader.jpg', alt=`${book.title}`)
                        h3.heading-tertirary
                            span= book.title

                    .card__details
                        h5.card__sub-heading Author: #{book.author}
                        h6.card__sub-heading Publication Year: #{book.year}
                        h6.card__sub-heading Number of Ratings: #{book.numRatings}
                        h6.card__sub-heading Ratings Average: #{book.ratingsAverage}

                    .card__footer
                        a.btn.btn--green.btn--small(href='#') Details