extends base

block content
    main.main
        form.search__form
            input.search__input(name='keyword' type='text' placeholder='Search books here by their titles or authors\' names')
            button.btn.btn--green(type='submit') Search
        .card-container
            each book in books
                .card
                    .card__header
                        img.card__picture-img(src='/img/bookReader.jpg', alt=`${book.title}`)
                        h3.heading-tertirary #{book.title}
                            
                    .card__details
                        ul.card__sub-heading
                            li
                                h6 Author: #{book.author}
                            li
                                h6 Publication Year: #{book.year}

                    .card__footer
                        a.btn(href=`/book/${book.isbn}`) Details