extends base

block content
    main.main
        .card-container
            each book in books
                .card
                    .card__header
                        .card__picture
                        img.card__picture-img(src='img/bookReader.jpg', alt=`${book.title}`)
                        h3.heading-tertirary #{book.title}
                            
                    .card__details
                        ul.card__sub-heading
                            li
                                h6 Author: #{book.author}
                            li
                                h6 Publication Year: #{book.year}
                            li
                                h6 Number of Ratings: #{book.numRatings}
                            li
                                h6 Ratings Average: #{book.ratingsAverage}

                    .card__footer
                        a.btn(href='#') Details